n8n/13_Salida_estructurada.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -640,
          3008
        ],
        "id": "995b6b5c-4eee-447e-88b9-c33f8b860ba0",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "id"
          },
          "responses": {
            "values": [
              {
                "content": "=Analiza el siguiente texto y responde\n\nFormato:\n{\n  \"sentimiento\": \"positivo | negativo | neutral\",\n  \"categoria\": \"queja | consulta | otro\"\n}\n\nTexto:\n{{$json.body}}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -304,
          3008
        ],
        "id": "55aea3c4-85f8-4e6e-9dff-c2665e6cb4f7",
        "name": "Message a model2",
        "credentials": {
          "openAiApi": {
            "id": "Uuu5FuCKNHq1MkkS",
            "name": "n8n free OpenAI API credits"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "48ff35c5-143d-4b20-bb34-c56c1e38943a",
                "name": "Respuesta",
                "value": "={{ $json.output[0].content[0].text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          3008
        ],
        "id": "bc999970-2358-4400-9c34-2fc43b632a62",
        "name": "entregar respuesta"
      },
      {
        "parameters": {
          "url": "https://jsonplaceholder.typicode.com/comments/1",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -480,
          3008
        ],
        "id": "9c93e938-b9bb-4d06-9b68-f69cfc5dcddb",
        "name": "salida estructurada"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "salida estructurada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model2": {
        "main": [
          [
            {
              "node": "entregar respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "salida estructurada": {
        "main": [
          [
            {
              "node": "Message a model2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "0e8740314be883c697d550def86aebf458563700b936ddf7d3375efcb672f7dd"
    }
  }