n8n/14_Decisiones_basadas_en_IA.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        3216
      ],
      "id": "995b6b5c-4eee-447e-88b9-c33f8b860ba0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=Responde SOLO con \"negativo\" o \"no negativo\".\n\nTexto:\n{{ $json.data[0].content }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -224,
        3216
      ],
      "id": "5b585bf4-538c-4c91-9315-543636369cf4",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "Uuu5FuCKNHq1MkkS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fakerapi.it/api/v1/texts?_quantity=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        3216
      ],
      "id": "b3d8c1fd-818e-4c9e-93e8-b383337c0ab9",
      "name": "salida estructurada1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a7d2b27-80ce-44ed-be98-58b0a2c91d7c",
              "leftValue": "={{ $json.output[0].content[0].text.respuesta }}",
              "rightValue": "negativo",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        3216
      ],
      "id": "7736e4b1-fbc8-480c-976d-c994a31c4e94",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed3c74b2-e72f-45d9-be61-337f0b22ab4a",
              "name": "Negativo",
              "value": "Alerta, se detectó un comentario negativo, rechazado por completo X",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        3120
      ],
      "id": "34fb3d40-c5db-409c-8d16-59c3cc0a3ff7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4117152-a338-4f13-80be-08568332bb34",
              "name": "Aprobado",
              "value": "Su comentario no ha sido reportado como negativo, tenga un buen dia =)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        3312
      ],
      "id": "3d2836e4-48e5-46b9-a36c-7be1c693f08e",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "salida estructurada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salida estructurada1": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e8740314be883c697d550def86aebf458563700b936ddf7d3375efcb672f7dd"
  }
}