n8n/6_Parámetros_dinámicos.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Personajes Rick y Morty",
        "formDescription": "Ingrese un id para buscar un personaje dentro de la serie Rick y Morty",
        "formFields": {
          "values": [
            {
              "fieldLabel": "ID",
              "placeholder": "Ingrese el id a buscar",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -448,
        832
      ],
      "id": "6de9c2ce-a581-402b-aca3-f7a0c0a408b7",
      "name": "formulario api Rick y Morty",
      "webhookId": "a44e87a8-bf73-4f5b-96a4-4c3edb55fe6c"
    },
    {
      "parameters": {
        "url": "=https://rickandmortyapi.com/api/character/{{ $json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        832
      ],
      "id": "69d59152-6d5a-4b8a-83bf-3984af0fce3c",
      "name": "HTTP Request (api Rick y Morty)",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -32,
        832
      ],
      "id": "77cea7e6-d5eb-469f-8946-f5aafef84038",
      "name": "No Operation, do nothing3"
    }
  ],
  "connections": {
    "formulario api Rick y Morty": {
      "main": [
        [
          {
            "node": "HTTP Request (api Rick y Morty)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (api Rick y Morty)": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e8740314be883c697d550def86aebf458563700b936ddf7d3375efcb672f7dd"
  }
}