n8n/Combinación_de_apis.json
{
    "nodes": [
      {
        "parameters": {
          "url": "=https://devsapihub.com/api-movies/{{ $json.ID }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -320,
          1088
        ],
        "id": "c41be385-8a59-4042-b5cd-c1bd79339f66",
        "name": "HTTP Request (películas)1",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "url": "=https://rickandmortyapi.com/api/character/{{ $json.ID }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -320,
          1264
        ],
        "id": "ab5fc2e5-f9e9-4fcb-8b04-6c3b8e9872bb",
        "name": "HTTP Request (api Rick y Morty)1",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "formTitle": "Api doble",
          "formDescription": "Ingrese un id para buscar un personaje dentro de la serie Rick y Morty, y también sobre ese id se buscará una película \n(Los id's van del 1 al 20)",
          "formFields": {
            "values": [
              {
                "fieldLabel": "ID",
                "placeholder": "Ingrese el id a buscar",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          -544,
          1168
        ],
        "id": "b58ee1a0-75a4-45a0-8fbb-3f9fdda8311c",
        "name": "formulario, api doble",
        "webhookId": "6d50b700-b682-43f7-b9af-426d98acb938"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -80,
          1168
        ],
        "id": "1ffcaabb-e873-4859-a3ff-03e9950d7720",
        "name": "unir las dos informaciones, aunque distintas quedan en una sola lista"
      }
    ],
    "connections": {
      "HTTP Request (películas)1": {
        "main": [
          [
            {
              "node": "unir las dos informaciones, aunque distintas quedan en una sola lista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request (api Rick y Morty)1": {
        "main": [
          [
            {
              "node": "unir las dos informaciones, aunque distintas quedan en una sola lista",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "formulario, api doble": {
        "main": [
          [
            {
              "node": "HTTP Request (películas)1",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request (api Rick y Morty)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "unir las dos informaciones, aunque distintas quedan en una sola lista": {
        "main": [
          []
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "0e8740314be883c697d550def86aebf458563700b936ddf7d3375efcb672f7dd"
    }
  }