n8n/Sistema_autónomo_final.json
{
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -640,
          3520
        ],
        "id": "088fe97b-b8d7-4c6d-9c26-8b908468ac99",
        "name": "Schedule Trigger1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1a7d2b27-80ce-44ed-be98-58b0a2c91d7c",
                "leftValue": "={{ $json.data[0].content.length }}",
                "rightValue": 140,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -304,
          3520
        ],
        "id": "23019842-4474-46a4-accd-1ede4dc04517",
        "name": "If2"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "id"
          },
          "responses": {
            "values": [
              {
                "content": "=Clasifica el siguiente texto en una sola palabra:\npositivo, negativo o neutral.\n\ntexto:\n{{ $json.data[0].content }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -96,
          3440
        ],
        "id": "4a4db1c8-9d42-42fb-b85f-0930bcd442d1",
        "name": "Message a model4",
        "credentials": {
          "openAiApi": {
            "id": "Uuu5FuCKNHq1MkkS",
            "name": "n8n free OpenAI API credits"
          }
        }
      },
      {
        "parameters": {
          "url": "https://fakerapi.it/api/v1/texts?_quantity=1",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -464,
          3520
        ],
        "id": "203f7c9e-c9de-4797-9432-293ea6f8c4cc",
        "name": "salida estructurada(flujo completo)"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1f248ce8-2b37-45d6-a217-9cfe25942543",
                "name": "Texto",
                "value": "={{ $('If2').item.json.data[0].content }}",
                "type": "string"
              },
              {
                "id": "d0fb3cdb-0f98-4040-8319-c850d070fa71",
                "name": "Autor",
                "value": "={{ $('If2').item.json.data[0].author }}",
                "type": "string"
              },
              {
                "id": "95893400-32c7-439a-ad45-c25c5f23e20f",
                "name": "sentimiento",
                "value": "={{$json.content}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          3440
        ],
        "id": "a12da3d6-6568-43a5-898b-ece21445a074",
        "name": "respuesta de ia"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "edf37e7e-b089-42ca-94d9-2b8329b791c9",
                "name": "Error",
                "value": "El mensaje no ha sido aprobado debido a su escasa relevancia, o es muy corto",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -96,
          3616
        ],
        "id": "70315fcb-3d56-425a-b904-b55b24dc1885",
        "name": "muy pocos carácteres"
      }
    ],
    "connections": {
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "salida estructurada(flujo completo)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Message a model4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "muy pocos carácteres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model4": {
        "main": [
          [
            {
              "node": "respuesta de ia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "salida estructurada(flujo completo)": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "respuesta de ia": {
        "main": [
          []
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "0e8740314be883c697d550def86aebf458563700b936ddf7d3375efcb672f7dd"
    }
  }